.create-button {
  background-color: #4CAF50;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 18px;
  color: white;
}
.create-button-container {
  margin: 20px;
};

.table-headers-container {
  margin-bottom: 4px;
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 40px 20px;
}

.tr-row {
  border: 1px solid white;
}

.td-row {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
}